<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
    </array>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>CFBundleName</key>
    <string>恢复内置屏</string>
    <key>CFBundleDisplayName</key>
    <string>恢复内置屏</string>
    <key>CFBundleIdentifier</key>
    <string>com.clamopen.restore</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>ClamRestore</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>CFBundleIconFile</key>
    <string>RestoreIcon</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
